terraform.tfvars
variables.tf
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/windows_amd64/terraform-provider-azurerm_v3.117.1_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/terraform-provider-random_v3.7.2_x5.exe.terraform/
*.exe
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars.example
