# Configurações Gerais
resource_group_name = "rg-ansible-lab"
location           = "eastus2"

# Configurações de Rede
vnet_name          = "vnet-ansible-lab"
vnet_address_space = ["10.0.0.0/16"]

# Configurações da VM Ansible
ansible_vm_size       = "Standard_B2s"
admin_username        = "azureuser"
admin_password        = "P@ssw0rd123!Change"
semaphore_admin_user  = "admin"
semaphore_admin_pass  = "SemaphoreP@ss123!"
semaphore_admin_email = "admin@lab.local"

# Configurações do SQL Database
sql_server_name    = "sql-ansible-lab-unique123"
sql_database_name  = "ansible_db"
sql_admin_username = "sqladmin"
sql_admin_password = "SQLp@ssw0rd123!"
sql_sku_name      = "Basic"
sql_max_size_gb   = 2
